footer {
    padding: 3rem 0;
    font-size: 0.9rem;
    margin-top: 7rem;
}

footer a {
    color: lightgoldenrodyellow;
    text-shadow: #FC0 1px 0 10px;
    text-decoration: none;
    transition: 3s;
}

footer a:hover {
    transition: 2s;
    letter-spacing: 10px;
    text-shadow: 0 0 5px #FC0, 0 0 15px #FC0, 0 0 30px #FC0,
        0 0 60px #FC0;
}

.footer__logo {
    font-size: 1.8rem;
    margin-bottom: 0.9rem;
    display: inline-block;
}

.footer__copyright {
    color: lightgoldenrodyellow;
    /* margin-bottom: 4rem; */
}

/* ========== MEDIA QUERIES (SMALL DEVICES) ========== */
@media screen and (max-width: 600px) {
    .permalinks {
        flex-direction: column;
        gap: 1.5rem;
    }

    .footer__socials {
        margin-bottom: 2.6rem;
    }
}