html, body {
  min-height: 100%;
}

body {
  height: auto;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  perspective: 300px;
  background-image: radial-gradient(navy, #002);
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.todo-new {
  font-size: 20px;
  margin-bottom: 30px;
  border: 5px solid black;
  border-radius: 20px;
  background: black;
  display: flex;
  align-items: center;
  padding: 20px;
  box-shadow: 10px 5px 5px red;
}

.todo-new button {
  font-size: 15px;
}

.todo-new input {
  margin-right: 15px;
}

.todo-item {
  font-size: 20px;
  margin-bottom: 16px;
  display: flex;
  width: 100%;
  max-width: 400px;
}

.actions {
  margin-left: auto;
  padding-left: 4px;
  flex-shrink: 0;
}

.todo-item span {
  max-width: 350px;
  text-align: left;
  display: inline-block;
}

.todo-list {
  display: flex;
  flex-direction: column;
}

.open-todos {
  background: lightgoldenrodyellow;
  margin-bottom: 30px;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 10px 5px 5px rgb(255, 0, 0, 0.8);
  padding: 10px 30px 30px 30px;
}

.finished-todos {
  background: lightgoldenrodyellow;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 10px 5px 5px rgb(0, 128, 0, 0.8);
  padding: 10px 30px 30px 30px;
}

.todo-item input {
  margin-left: 15px;
  margin-right: 15px;
}


.a {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: inset -0.4em -0.55em 0.5em -0.25em #0007, inset -0.75em -0.5em 0.075em 0.25em var(--color), 2em 0.05em 3em -1.5em var(--color);
  overflow: hidden;
  pointer-events: none;
}

@keyframes orbit {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

.a::before,
.a::after {
  position: absolute;
  top: -540%;
  left: -300%;
  display: block;
  height: 200rem;
  width: 200rem;
  content: '';
  border-radius: 50%;
  z-index: -1;
  animation: orbit 300s infinite linear;
  box-shadow:
    -40rem -106rem 1rem -99.5rem #fff6,
    -40rem -106rem 1px -99.65rem #c568,
    -32rem -96rem 1.5rem -99.5rem #ffe8,
    -32rem -96rem 1px -99.9rem #ffc9,
    -31rem -110rem 1.5rem -99.5rem #ffe6,
    -31rem -110rem 1px -99.9rem #ffc6,
    -11rem -115rem 1.5rem -99.5rem #ffe8,
    -11rem -115rem 1px -99.9rem #ffc6,
    11rem -105rem 1.5rem -99.5rem #ffe6,
    11rem -105rem 1px -99.9rem #ffc6,
    -11rem -135rem 1.5rem -99.5rem #ffe4,
    -11rem -135rem 1px -99.9rem #ffc5,
    31rem -115rem 1.5rem -99.5rem #ffe6,
    31rem -115rem 1px -99.9rem #ffc6,
    -51rem -115rem 1.5rem -99.5rem #ffe9,
    -51rem -115rem 1px -99.9rem #ffc6,
    21rem -125rem 1.5rem -99.5rem #ffe6,
    21rem -125rem 1px -99.9rem #ffc6,
    5rem -115rem 1.5rem -99.5rem #ffe9,
    5rem -115rem 1px -99.9rem #ffc6,

    -96rem -32rem 1.5rem -99.5rem #ffe8,
    -96rem -32rem 1px -99.9rem #ffc9,
    -110rem -31rem 1.5rem -99.5rem #ffe6,
    -110rem -31rem 1px -99.9rem #ffc6,
    -115rem -11rem 1.5rem -99.5rem #ffe8,
    -115rem -11rem 1px -99.9rem #ffc6,
    -105rem 11rem 1.5rem -99.5rem #ffe6,
    -105rem 11rem 1px -99.9rem #ffc6,
    -135rem -11rem 1.5rem -99.5rem #ffe4,
    -135rem -11rem 1px -99.9rem #ffc5,
    -115rem 31rem 1.5rem -99.5rem #ffe6,
    -115rem 31rem 1px -99.9rem #ffc6,
    -115rem -51rem 1.5rem -99.5rem #ffe9,
    -115rem -51rem 1px -99.9rem #ffc6,
    -125rem 21rem 1.5rem -99.5rem #ffe6,
    -125rem 21rem 1px -99.9rem #ffc6,
    -115rem 5rem 1.5rem -99.5rem #ffe9,
    -115rem 5rem 1px -99.9rem #ffc6,

    96rem 32rem 1.5rem -99.5rem #ffe8,
    96rem 32rem 1px -99.9rem #ffc9,
    110rem 31rem 1.5rem -99.5rem #ffe6,
    110rem 31rem 1px -99.9rem #ffc6,
    115rem 11rem 1.5rem -99.5rem #ffe8,
    115rem 11rem 1px -99.9rem #ffc6,
    105rem -11rem 1.5rem -99.5rem #ffe6,
    105rem -11rem 1px -99.9rem #ffc6,
    135rem 11rem 1.5rem -99.5rem #ffe4,
    135rem 11rem 1px -99.9rem #ffc5,
    115rem -31rem 1.5rem -99.5rem #ffe6,
    115rem -31rem 1px -99.9rem #ffc6,
    115rem 51rem 1.5rem -99.5rem #ffe9,
    115rem 51rem 1px -99.9rem #ffc6,
    125rem -21rem 1.5rem -99.5rem #ffe6,
    125rem -21rem 1px -99.9rem #ffc6,
    115rem -5rem 1.5rem -99.5rem #ffe9,
    115rem -5rem 1px -99.9rem #ffc6,

    -21rem -125rem 1.5rem -99.5rem #ffe8,
    -21rem -125rem 1px -99.9rem #ffc6,
    -61rem -105rem 1.5rem -99.5rem #ffe3,
    -61rem -105rem 1px -99.9rem #ffc6,
    -61rem -95rem 1.5rem -99.5rem #ffe4,
    -61rem -95rem 1px -99.9rem #ffc6,
    -71rem -75rem 1.5rem -99.5rem #ffe7,
    -71rem -75rem 1px -99.9rem #ffc6,
    -55rem -85rem 1.5rem -99.5rem #ffe6,
    -55rem -85rem 1px -99.9rem #ffc6,
    -125rem -21rem 1.5rem -99.5rem #ffe8,
    -125rem -21rem 1px -99.9rem #ffc6,
    -105rem -61rem 1.5rem -99.5rem #ffe3,
    -105rem -61rem 1px -99.9rem #ffc6,
    -95rem -61rem 1.5rem -99.5rem #ffe4,
    -95rem -61rem 1px -99.9rem #ffc6,
    75rem 71rem 1.5rem -99.5rem #ffe7,
    75rem 71rem 1px -99.9rem #ffc6,
    85rem 55rem 1.5rem -99.5rem #ffe6,
    85rem 55rem 1px -99.9rem #ffc6,
    125rem 21rem 1.5rem -99.5rem #ffe8,
    125rem 21rem 1px -99.9rem #ffc6,
    105rem 61rem 1.5rem -99.5rem #ffe3,
    105rem 61rem 1px -99.9rem #ffc6,
    95rem 61rem 1.5rem -99.5rem #ffe4,
    95rem 61rem 1px -99.9rem #ffc6,
    75rem 71rem 1.5rem -99.5rem #ffe7,
    75rem 71rem 1px -99.9rem #ffc6,
    85rem 55rem 1.5rem -99.5rem #ffe6,
    85rem 55rem 1px -99.9rem #ffc6,
    32rem 96rem 1.5rem -99.5rem #ffe8,
    32rem 96rem 1px -99.9rem #ffc9,
    31rem 110rem 1.5rem -99.5rem #ffe6,
    31rem 110rem 1px -99.9rem #ffc6,
    11rem 115rem 1.5rem -99.5rem #ffe8,
    11rem 115rem 1px -99.9rem #ffc6,
    -11rem 105rem 1.5rem -99.5rem #ffe6,
    -11rem 105rem 1px -99.9rem #ffc6,
    11rem 135rem 1.5rem -99.5rem #ffe4,
    11rem 135rem 1px -99.9rem #ffc5,
    -31rem 115rem 1.5rem -99.5rem #ffe6,
    -31rem 115rem 1px -99.9rem #ffc6,
    51rem 115rem 1.5rem -99.5rem #ffe9,
    51rem 115rem 1px -99.9rem #ffc6,
    -21rem 125rem 1.5rem -99.5rem #ffe6,
    -21rem 125rem 1px -99.9rem #ffc6,
    -5rem 115rem 1.5rem -99.5rem #ffe9,
    -5rem 115rem 1px -99.9rem #ffc6,
    21rem 125rem 1.5rem -99.5rem #ffe8,
    21rem 125rem 1px -99.9rem #ffc6,
    61rem 105rem 1.5rem -99.5rem #ffe3,
    61rem 105rem 1px -99.9rem #ffc6,
    61rem 95rem 1.5rem -99.5rem #ffe4,
    61rem 95rem 1px -99.9rem #ffc6,
    71rem 75rem 1.5rem -99.5rem #ffe7,
    71rem 75rem 1px -99.9rem #ffc6,
    55rem 85rem 1.5rem -99.5rem #ffe6,
    55rem 85rem 1px -99.9rem #ffc6;
}

.a::after {
  opacity: 0.35;
  animation-delay: -100s;
  animation-duration: 600s;
  top: 10vh;
}


/* ========== MEDIA QUERIES (MEDIUM DEVICES) ========== */
@media screen and (max-width: 1024px) {}

/* ========== MEDIA QUERIES (SMALL DEVICES) ========== */
@media screen and (max-width: 600px) {
  body {
    width: 100%;
    height: auto;
  }
}